<div class="home-container">
  <h1>Welcome to FitFlair!</h1>
  <p>
      Your journey to a healthier, stronger, and more confident you starts today.  
      Embark on your fitness journey with FitFlair, your personalized workout companion! Whether you're a beginner taking the first step or a fitness enthusiast striving for new goals, we're here to keep you motivated and on track. Plan, track, and crush your workouts with ease—because every step counts towards a healthier, stronger you!!  
  </p>
  <button (click)="startRoutine()">Let's Get Started</button>
</div>
